*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body,html{
    width: 100%;
    height: 100%;
  scroll-behavior: smooth;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-c{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.span{
    color: orangered;
}
.btn{
    padding: 15px 30px ;
    font-size: 17px;
    color: white;
    font-weight: 700;
    background-color: orangered;
    border-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;
}
.btn:hover{
    background-color: white;
    color: orangered;
    border: 3px solid orangered;
}
.posi{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.main{
    position: relative;
    overflow: hidden;
}
.page1{
    width: 100%;
    height: 100vh;
    background-color: rgb(249, 142, 126);
    position:relative;
   display: flex;
   flex-direction: column;
}
.nav{
    width: 100%;
    height: 10%;
    background-color: rgba(0, 0, 0, 0.593);
    /* From https://css.glass */
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(13.8px);
-webkit-backdrop-filter: blur(13.8px);
border: 1px solid rgba(22, 0, 0, 0.31);
    position: absolute;
    color: white;
    padding: 0 30px;
    position: fixed;
    z-index: 99;
}
.nav .nav-icon{
    width: 20%;
    height: 100%;
   display: flex;
   align-items: center;
}
.logo-burger{
    width: 20%;
    height: 100%;
    position: relative;
    margin-right: 2vh;
}
.logo-section{
    width: 100%;
    height: 100%;
}
 .logo{
    width: 7.6vh;
  animation: rotate 15s linear  infinite  ;

}
.logo-burger .small-icon{
    width: 4vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.nav-icon h1{
   color:rgb(249, 142, 126) ;
   font-size: 3.6vh;
}

.menu{
    width: 60%;
    height: 100%;
    position: relative;
}
.menu ul{
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.menu .close-icon{
    position: absolute;
    top: 50%;
    left: 50%;
  transform: translate(-50%,-50%);
    width: 4%;
    display: none;
}
.menu-show-btn{
    width: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    
}
.menu-show-btn img{
    background-color: black;
    padding: 1.5vh;
    width: 20%;
    border-radius: 50%;
}
.menu-show-btn img:hover{
    color: black !important;
    border: 2px solid white;
}
 ul li a{
    text-decoration: none;
    padding: 0 20px;
    font-size: 15px;
    color: white;
}
 ul li a:hover{
    color:rgb(249, 142, 126) ;

}
.orderbtn{
    width: 20%;
    height: 100%;
}

.as_btn{
    
    height: 50px;
    /* background-color: #ff7010; */
    background-color: red;

    font-size: 15px;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    padding: 0 15px;
    position: relative;
    margin-left: 15px;
    border: none !important;
    outline: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}

.as_btn::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    /* border-right: 15px solid #ff7010; */
    border-right: 15px solid red ;
    right: 100%;
    border-left: none;
    box-sizing: border-box;
}

.as_btn::after{
    content: "";
    position: absolute;
    left: 100%;
    top: 0;
    bottom: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    /* border-left: 15px solid #ff7010; */
    border-left: 15px solid red ;

    box-sizing: border-box;
}
.hero-sec{
    width: 100%;
    height: 88%;
    position: absolute;
    bottom: 0;
    display: flex;
}
.left{
    width: 50%;
    height:100%;
    align-items:start;
    padding-left: 70px;
   gap: 25px;
}
.main-heading{
    overflow: hidden;
    position: relative;
}
.rect{
    position: absolute;
    top: 0;
    width:100%;
    height: 100%;
    background-color:black;
}
.left .main-text{
    font-size: 10vh;
    font-weight:300 ;
 overflow: hidden;
}

.left p{
line-height: 1.3;
opacity: 0.7;
}.img-btn{
  column-gap: 60text
}
.img-btn button{
    margin-right: 62px;
}

.all-imgs img{
width: 40px;
background-color: #fff;
padding: 3px;
border-radius: 50%;
margin-left: -10px;
cursor: pointer;
}

.all-imgs img:nth-child(2){
    margin-top:10px ;
}
.all-imgs img:nth-last-child(1){
    margin-top: 10px;
}
.right{
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plate-change{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.right .plate{
    width: 70%;
    border-radius: 50%;
    animation-name: rotate;
    animation-duration: 70s;
    animation-timing-function:linear;
    animation-iteration-count: infinite;
    position: absolute;
    /* background-color: red; */
   /* box-shadow: 0 0 1px 1px black; */
}

.img{
    width: 50%;
    height: 60%;
    /* border-radius: 100%; */
    /* background-color: rgb(0, 255, 0); */
    position: relative;
    z-index: 20;
    animation-name: rotate;
    animation-duration:20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}
.burger{
    width: 80%;
    transition: all ease-in-out 2s;
    z-index: 21;
    pointer-events: none;
   
 }
 .burger1{
    width: 80%;
  display: none;
    transition: all ease-in-out 2s;
    z-index: 22;
    pointer-events: none;
   
 }
 
@keyframes rotate {
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: 360deg;
    }
}
.page2{
    width: 100%;
    height: 100vh;
    background-color: rgb(249, 142, 126);
     display: flex;
}
.left-img{
    width: 50%;
    height: 100%;
}
.left-img img{
    width: 80%;
}
.right-text{
    width: 50%;
    height: 100%;
    row-gap: 50px;
}
.right-text h1{
    font-weight: 500;
    font-size: 25px;
    width: 80%;
}

.page3{
    width: 100%;
    height: 100vh;
    background-color: rgb(249, 142, 126);
  display: flex;
}
.menu-img{
    width: 50%;
    height: 100%;
}
.menu-img img{
    width: 60%;
}
.menu-details{
    width: 50%;
    height: 100%;
    /* background-color: red; */
}
 .menu-details hr{
    width: 60%;
   color: black;
 
 }
.menu-child{
    width: 60%;
    height: 10%;
    /* background-color: crimson; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.box{
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;

}
.box img{
    width: 40px;
    object-fit: cover;
}

.menu-child h3{
    font-size: 17px;
    font-weight: 400;
  color: black;
}
.middle{
    width: 100%;
    height: 15%;
    /* background-color: red; */
    position: absolute;
    top: 10.1%;
}
.middle a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    /* list-style: none; */
}
.page4{
    width: 100%;
    height: 100vh;
    background-color: rgb(249, 142, 126);
     justify-content: space-evenly;
}
.card_container{
    width: 25%;
    height: 60%;
    /* background-color: #fff; */
    position: relative;
  
}
.card{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    border-radius: 20px;
    overflow: hidden;
    z-index: 2;
}
.card img{
    width:100%;
    height: 100%;
    object-fit: cover;
}

.blackoverlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(255, 68, 0, 0.447);
    justify-content: end;
    align-items: start;
    border-radius: 20px;
    row-gap: 20px;
    padding-left:30px ;
    padding-bottom: 30px;
    transition: all linear 1s;
    z-index: 3;
   display: none;
}


/* .card_container1 .top1{
 opacity: 1;
 transition: all ease-in-out 0.1s;
 top:0;
}
.card_container2 .top2{
    opacity: 1;
    transition: all ease-in-out 1s;
    top: 0%;
   }
    .card_container3 .top3{
    opacity: 1;
    transition: all ease-in-out 1s;
    top: 0%;
   } */
.blackoverlay h3{
    font-size: 25px;
    color: white;
    font-weight: 600;
    width: 90%;
    /* background-color: red; */
}
.page5{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: rgb(249, 142, 126);
}
.page5 h3{
    width: 62%;
    font-weight: 600;
    font-size: 27px;
   color: white;
   text-align: center;
}
.card1:hover .overlay1{
    width: 100%;
}
.page5 span{
    color: orangered;
}
.imgblur{
    position: absolute;
    border-radius: 20px;
    transition: all ease-in-out 0.5s;
}
.imgblur7{
    top: 50%;
    transform: translateY(-50%);
    left: -5%;
}
.imgblur6{
    top: 20%;
    left: 20%;
    filter: blur(9px);
}
.imgblur5{
    top: 25%;
    right:20%;
    filter: blur(10px);
}

.imgblur4{
    bottom: 20%;
    right:25%;filter: blur(10px);
}
.imgblur3{
   right: -8%;
   top: 50%;
   transform: translateY(-50%);
}
.imgblur2{
    top: 10%;
    left:50%;
    transform: translateX(-50%);
}

.imgblur1{
    bottom: 8%;
    left: 20%;
}

.imgblur:hover{
    filter: blur(0px);
   scale: 1.2;
}
.footer-sec{
    width: 100%;
    height: 50vh;
    background-color:black;
    justify-content: space-between;
    align-items: start;
}
.footer-child{
    width: 100%;
    height: 80%;
    align-items: start;
    padding:20px;

}
.logo-with-name{
    position: relative;
    width: 30%;
    height: 20%;
}
.center-logo{
 width: 20%;
 height: 100%;
 margin-right: 3vh;
}
.star-logo{
    width: 80px;
}
.burger-for-icon{
    position: absolute;
    width: 42px;
   
    
}
.logo-with-name h1{
    color:rgb(249, 142, 126);
}
.footer-details{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}
.company-details{
    /* background-color: #5b2929; */
    margin-top: 28px;
}
.company-details ul{
    padding-top:14px ;
    /* background-color: red; */
}
.company-details ul li{
    text-decoration: none;
    list-style: none;
    padding: 5px 0;
}
.company-details h3{
   padding-left:17px ;
   color:rgb(249, 142, 126) ;
}
.company-details ul li a{
 color:white;
 cursor: pointer;
}
.social-text{
    padding-top: 15px;
}
.social-media{
    display: flex;
    column-gap: 20px;
    margin-left:15px ;
    margin-top: 15px;
}
.social-media a{
    width: 5vh;
    /* background-color: blue; */
}
.company-details ul li a:hover{
    color:rgb(249, 142, 126) ;
}
.footer-last-part{
    width:100%;
    height:10%;
    background-color: rgb(249, 142, 126);
}
.footer-btn{
    width: 100%;
    height: 10%; 
    position: relative;
    /* background-color: #fff; */
}
 .h5text{
 position: absolute;
 top: 0;
 width: 100%;
 height: 100%;
 /* background-color: rgb(33, 33, 41); */
 z-index: 2;

 }
.h5text h5{
    color: white;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.979);
    z-index: 4;
    /* height: 100%; */
    width: 10%;
    padding: 10px 5px;
    text-align: center;
}
.h5text h5 a{
    text-decoration: none;
    color: white;
}
.h5text h5:hover{
    text-decoration: #fff;
}
.footer-btn .btn{
 font-size: 10px;
 padding:10px;
 position: absolute;
left: 50%;
transform: translateX(-50%);
z-index: 3;
transition: all linear 1s;
cursor: pointer;
pointer-events: visible;
opacity: 0;
}

.footer-btn .top-btn{
   left: 60%;
    transition: all linear 1s;
}

.footer-last-part p{
    color: #fff;
    font-weight: 500;
    text-align: center;
}

@media (max-width:800px) {
    .nav{
        padding: 0 56px;
        justify-content: space-between;
    }
    .logo-burger {
        margin-right: 0;
    }
    .nav-icon{
        margin-left: 10px;
    }
    .nav-icon  h1 {
        font-size: 2.5vh;
        margin-left: 24px;
    }
    .menu{
        position: absolute;
        top: 0;
        left:-1%;
        background-color: black;
        height: 1016%;
        display: none;
    }
    .menu ul {
        flex-direction: column;
        align-items: start;
        width: 100%;
        justify-content: start;
        height: 50%;
        position: absolute;
        top: 0;
        /* left: -131px; */
        padding: 25px 22px;
        margin-top: 37px;
    }
     .menu .close-icon{
        position: absolute;
        top: 4%;
        left: 85%;
     }
     .menu .close-icon img{
        width: 60%;

     }
    .menu ul li{
        margin: 20px;
    }
    .menu ul li::after{
        content: "";
        position: absolute;
        height: 1px;
        left: 1px;
        right: 1%;
        margin-top: 47px;;
        background-color: white;
    }
    .menu ul li a{
        font-size: 2.6vh;
    }
    .menu-show-btn{
        /* display: flex; */
        display: flex;
       width: 68%;
    }
    .menu-show-btn .show{
        display: flex;
    }
    .menu .close-icon{
        display: flex;
        width: 17%;
    }
    .left {
        width: 100%;
        height: 50%;
       padding-left: 4vh;
       position: absolute;
       bottom: 0;
    }
    .left .main-text {
        font-size: 5vh;
    }
    .left p {
        width: 71%;
    }
    .img {
        width: 79%;
        height: 79%;
    }
    .right{
        width: 100%;
        height: 50%;
        /* bottom: 0; */
    }
    .right .plate {
        width: 90%;
    }
    .page2 {
        flex-direction: column;
    }
    .left-img {
        width: 100%;
        height: 50%;
    }
    .left-img img {
        width: 100%;
    }
    .right-text {
        width: 100%;
        height: 50%;
    }
    .right-text h1 {
        font-size: 21px;
    }
    .page4 {
        flex-direction: column;
        row-gap: 2vh;
    }
    .card_container{
        width: 58%;
        height: 30%;
    }
    .blackoverlay{
        display: block !important;
    }
    .blackoverlay h3 {
        font-size: 19px;
        margin-top: 17vh;
    }
    .blackoverlay .btn{
        padding: 10px 20px;
        margin-top: 1vh;
        margin-left: 19px;
    }
    .page5 h3 {
        font-size: 16px;
    }
    .imgblur3 {
        width: 185px !important;
        right: -25%;
    }
    .imgblur7{
        width: 123px !important;
        left: -10%;
    }
    .imgblur6 {
        top: 26%;
        left: 11%;
        filter: blur(0);
    }
    .imgblur5 {
        top: 23%;
        right: 9%;
        filter: blur(0);

    }
    .imgblur2 {
        top: 7%;
    filter: blur(0);
    }
    .imgblur4 {
        bottom: 21%;
        right: 16%;
        filter: blur(0);
        width: 127px !important;
    }
    .imgblur1 {
        bottom: 8%;
        left: 8%;
        width: 153px !important;
    }
    .footer-child {
        flex-direction: column;
    }
    .logo-with-name {
        width: 100%;
        height: 50%;
        margin-top: 7vh;
    }
    .footer-details{
        flex-direction: column;
        /* align-items: center; */
        width: 100%;
        margin-left: 4vh;
    }
    .footer-sec{
        height: 120vh;
  }
  .company-details h3 {
    font-size: 2.5vh;
  }
  .h5text .top{
    width: 50%;
    position: absolute;
    bottom: 0;
  }
  .footer-btn .top-btn{
    display: none;
  }
  .footer-last-part {
    height: 5%;
}

}